body{
	background-color: #f1f1f1;
	margin:20px;
}
html body, html body *{
	color:rgb(117, 117, 117);
}
body#typo3-index-php{
	margin:20px;
	background-color: #f1f1f1;
}
.copyrightInfo{
	float:right;
}
body fieldset{
	background-color:#fff;
	margin-bottom:20px;
	width:100%;
	display:block;
	border:none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 0 17px 20px 17px;
}
fieldset *{
	color:black;
}
fieldset input{
	border:1px solid #f1f1f1;
}
body legend{
	position: relative;
	box-sizing: border-box;
	width: calc(100% + 34px);
	margin-left: -17px;
}
legend input{
	border: none;
	padding: 7px 9px;
	background-color: #666;
	width: 100%;
	font-size: 14px;
	color: white;
	border-radius: 0;
	box-sizing: border-box;
}
legend .material-icons{
	position: absolute;
	right: 4px;
	top: 13px;
	color: white;
	background: grey;
	border-radius: 100%;
	padding: 5px;
}
.add, .delete{
	cursor:pointer;
	display: inline-block;
}
.add .material-icons{
	top: 7px;
	position: relative;
}
.layoutEditor section{
	width:30%;
	margin-right:3%;
	float:left;
}

/* ---------------------------------------------------------------- */

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #d8d8d8;
	color: #222;
}

.tab-content{
	display: none;
	background:#d8d8d8;
	padding: 15px;
	overflow: hidden;
}

.tab-content.current{
	display: inherit;
}